.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  min-height: 100vh;
  /* viewport units on moblie confused to fix it */
  /* /* min-height: -webkit-fill-available;  */
} 



/*make it pretty*/
header {
  background-color: skyblue;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 50ch;
}

footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 1em;
}